name: Sincronizacion Semanal

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'placeholder'
          if_key_exists: fail

      - name: Rsync Files
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no" ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/root/docker/portfolio/ .

      - name: Commit & Push
        run: |
          git config --global user.name "AutoBot"
          git config --global user.email "bot@github.com"
          git add .
          if git diff --quiet && git diff --staged --quiet; then
            echo "Sin cambios."
          else
            git commit -m "Auto update"
            git push
          fi
